<%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>
<body>
  <div class="top-wrapper">
    <div class="container">
      <h1>TweetApp</h1>
      <p>日常のつぶやき、承ります</p>
    </div>
  </div>
</body>