/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";


/* 共通 ================================ */

html {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  margin: 0px;
}

.container { 
  width:70%;
  margin: 0px;
}

.contents-flex {
  display: flex;
  padding: 30px;
}

.contents-menu {
  width: 30%;
}

.error-message {
  color: rgb(240, 0, 0);
}

/* header ================================ */

header {
  height:70px;
  width: auto;
  background-color:rgb(112, 161, 183);
  padding: 0px 30px;

  .header-logo {
    float: left;
    font-size: 25px;
    line-height: 70px;
  }

  .header-list li {
    list-style: none;
    float: right;
    font-size: 15px;
    line-height: 70px;
    padding: 0px 10px;
  }

  .header-list a {
    display: block;
    text-decoration-line: none;
    color: white;
  }

  .header-list li:hover {
    background-color:rgb(47, 131, 169);
    opacity: 0.7;
  }

}

/* main ================================ */

.notice {
  height: 30px;
  background-color:rgb(201, 147, 94);
  text-align: center;
  line-height: 30px;
}

/* footer ================================ */

footer {
  height:40px;
  width: auto;
  background-color:rgb(112, 161, 183);
  padding: 0px 30px;
}

footer p {
  text-align: center;
  color:white;
  line-height: 40px;
  margin: 0px;
} 
