
header {
    height:70px;
    width: auto;
    background-color:aliceblue;
}

.header-logo {
    float: left;
    font-size: 20px;
}


.header-list li {
    list-style: none;
    float: right;
    font-size: 15px;
    margin-top: 15px;
    padding: 10px;
}

img {
    height:300px;
    width:auto;
}

