
/* posts/index ================================ */
.posts-index-items {
  font-size: 18px;
  border: 1px solid #333333;
  margin: 10px 100px;
  display: block;
  text-align: left;
}

.posts-content {
  font-size: 18px;
  border: 1px solid #333333;
  margin: 10px 100px;
  display: block;
  text-align: center;
}

textarea {
  font-size:18px;
  width:400px;
  height: 200px;
}


/* posts/show================================ */
.post-user img {
  width:50px;
  height: auto;
  float:left;
  margin: 0px 20px;
}
