
/* posts/共通 ================================ */

.contents-flex {
  display: flex;
  padding: 30px;
}

.contents-menu {
  width: 30%;
}

/* posts/index ================================ */

.index-wrapper {
  display: flex;
}

.contents-menu {
  flex-direction: row;
}

.posts-index {
  height: auto;
  width: 600px;
}

.posts-index-items {
  font-size: 18px;
  border: 1px solid #333333;
  margin: 10px 0px;
  display: block;
  text-align: left;
  height: 80px;
}

textarea {
  font-size:18px;
  width:400px;
  height: 200px;
}


/* posts/show================================ */

.posts-content {
  font-size: 18px;
  border: 1px solid #333333;
  margin: 10px 0px;
  display: block;
  text-align: left;
}

.post-user {
  float:left;
  display:flex;
}

.post-user img {
  width:50px;
  height: auto;
  margin: 10px 20px 0px 20px;
  flex-direction: row;
}

.post-text {
  flex-direction: row;
}
